<div class="container">
    <h1>Actualizar Comida</h1>
    <%= link_to 'Regresar', edit_diet_path(@meal.diet), class: 'btn btn-light btn-small' %>
    <br><br><br>
    <% if @meal.errors.any? %>
        <div class="alert alert-danger" role="alert">
        <div id="error_explanation">
          <h4><%= pluralize(@meal.errors.count, "error")%></h4>
          <ul>
          <% @meal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
        </div>
      <% end %>

    <%= form_for(@meal, :url => meal_path, :method => :put) do |f| %>
        <div class="form-group">
            <%= f.label :nombre %><br />
            <%= f.text_field :name, autofocus: true, list: "names", :class => 'form-control form-control-lg' %>
            <datalist id="names">
              <option value="Desayuno">
              <option value="Colación de medio día">
              <option value="Almuerzo">
              <option value="Colación de la tarde">
              <option value="Cena">
            </datalist>
        </div>

        <div class="form-group">
            <%= f.label :contenido %><br />
            <%= f.text_area :content, autofocus: true, autocomplete: "content", :class => 'form-control form-control-lg ' %>
        </div>
        <%= f.submit "Guardar", :class => 'btn btn-info' %>
    <% end %>
</div>