<div class="container">
<h1>Agregar comidas </h1>
<%= link_to 'Regresar', edit_diet_path(:id => @meal.diet_id) , class: 'btn btn-light btn-small' %>
<br><br>
<p>Agregar las comidas en el orden que se deben realizar. <br>Se debe seleccionar el tipo (desayuno, colación matutina, almuerzo, etc.). <br>Puedes agregar el número de comidas que consideres para cada tipo de comida.</p>
<% if @meal.errors.any? %>
  <div class="alert alert-danger" role="alert">
  <div id="error_explanation">
    <h4><%= pluralize(@meal.errors.count, "error")%></h4>
    <ul>
    <% @meal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  </div>
<% end %>
<%= form_for @meal do |f| %>

      <div class="form-group">
    <%= f.label 'Tipo de comida' %><br />
    <%= f.select :meal_type, options_for_select([['Desayuno', :breakfast], ['Colación matutina', :morning_snack], ['Almuerzo', :lunch], ['Colación vespertina', :evening_snack], ['Cena', :dinner]], params[:meal_type]), {}, { :class => 'form-control form-control-lg' } %>
</div>
<%= f.hidden_field :diet_id, value: @meal.diet_id %>
<div class="form-group">
    <%= f.label :contenido %><br />
    <%= f.text_area :content, autofocus: true, autocomplete: "content", placeholder: "Ejemplo: Una porción de proteína de suero de leche baja en carbos con agua.", :class => 'form-control form-control-lg' %>
</div>
    <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
  <% end %>

</div>

