<div class="container">
<h1>Actualizar dieta</h1>
<%= link_to 'Regresar', @diet.to_model, class: 'btn btn-light btn-small' %>
<br><br>
<% if @diet.canAddMeals %>
  <%= link_to "Agregar comidas", new_meal_url(diet_id: @diet.id), method: :get, :class => 'btn btn-success white-words' %>
<% end %>

<br><br>


<% @diet.mealsPerType.each do |meal_type, meals| %>
  <br>
  <h4><%= I18n.t('meals.type.'+ meal_type) %></h4>
  <br>
  <table class="table table-bordered">
  <thead>
  <tr>
  <th scope="col">Contenido</th>
  <th scope="col">Acción</th>
  </tr>
  </thead>
  <tbody>
  <% meals.each do |meal| %>
    <tr>
    <td><%= meal.content %></td>
    <td>
      <%= link_to 'Editar', edit_meal_path(meal.id), class: "btn btn-light" %> 
      <%= link_to 'Eliminar', meal_path(meal), method: :delete, data: { confirm: '¿Estás seguro de eliminar esta comida?' }, class: "btn btn-danger btn-small white-words" %>
    </td>
    </tr>
    <% end %>
    
    </tbody>
    </table>
    <% end %>

    <% if @diet.canEdit %>
      <%= form_for(@diet.to_model, :url => diet_path, :method => :put) do |f| %>
        <div class="form-group">
        <%= f.label :recomendaciones %><br />
        <%= f.text_area :recommendations, autofocus: true, autocomplete: "content", :class => 'form-control form-control-lg ' %>
        </div>
          <%= f.submit "Guardar", :class => 'btn btn-info' %>
          <% end %>
          </div>
          <br>
    <% end %>
