<!DOCTYPE html>
<html>
  <head>
    <title>NutritionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <ul class="nav justify-content-end">
      <%- if nutritionist_signed_in? %>
        <%= link_to 'Cerrar sesión', destroy_nutritionist_session_path, method: :delete %>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
